h1 {
	color:orange;
}		
p {
		font-size: 130%;
	}		

#intro {
	background-color: lightgreen;
}	

.first {
	font-size:150%;
}	

#intro .first {
	color: red;
}
h4{
	text-align: center;
}
nav {
	text-align: center;
}